{erl_opts, [debug_info]}.

{deps, [getopt]}.

{dialyzer, [ {plt_extra_mods, [getopt]} ]}.

{escript_incl_apps,
 [r3bench_utils, getopt]}.

{escript_main_app, r3bench_utils}.

{escript_name, r3bench_dump}.

{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
