{erl_opts, [debug_info]}.
{deps, [espace,
        getopt]}.

{escript_incl_apps,
 [pingpong,
  espace,
  getopt,
  etsmgr]}.
{escript_main_app, pingpong}.
{escript_name, pingpong}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
